<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить цель</title>
</head>
<body>
<form action="#" th:action="@{/goals}" method="get">
    <button>Назад</button>
</form>

<h3>Добавление цели</h3>
<form action="#" th:action="@{/goals/add}" th:object="${goal}" method="post">
    <fieldset>
        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <p>Описание: <br>
            <input type="text" th:field="*{goalName}"/>
        </p>
        <p>Сумма цели: <br>
            <input type="number" step="0.01" min=0.01 th:field="*{goalAmount}" th:errorclass="fieldError"/>
        </p>
        <p>Уже собрано: <br>
            <input type="number" step="0.01" min=0.0 th:field="*{currentAmount}" th:errorclass="fieldError">
        </p>
        <p>Дата последнего откладывания: <br>
            <input type="datetime-local" th:field="*{dateLastPay}" th:errorclass="fieldError">
        </p>
        <p>Установить минимальное отложение в месяц: <br>
            <input type="number" step="0.01" min=0.0 th:field="*{minPay}" th:errorclass="fieldError">
        </p>
        <p>
            <input type="submit" value="Сохранить">
        </p>
    </fieldset>
</form>
</body>
</html>