body {
    width:max-content;
    height: 100vh;
    margin: 0;
    background-color: #b8cbf2;
}

.header {
    width: 100vw;
    height: 60px;
    background-color: #346eeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.header form {
    display: flex;
    align-items: center;
}

.item-container {
    display: flex;
    width: 600px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: bold; 
}

.item-container h2 {
    width: 320px;
    font-size: 1.2em;
}

.item-container h3 {
    width: 230px;
    font-size: 1em;
}

.back-button {
    width: 80px;
    height: 25px;
    background-color: #678fe5;
    border-radius: 5px;
    color: white;
    border: none;   
    font-family: 'Segoe UI';
    font-weight: bold; 
    font-size: 0.8em;
}

.back-button:hover {
    background-color: #86a2df;
}

.limits-container {
    margin: 10px 0 10px 0;
    width: 600px;
    height: 40px;
    display: flex;
    background-color: #678fe5;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    font-family: 'Segoe UI';
    font-weight: bold; 
    font-size: 1em;
    color: white;
}

.limits-container span {
    text-align: center;
    width: 180px;
}

.limits-container a {
    width: 120px;
    text-decoration: none;
    color: white;
}

.limits-container a:hover {
    color: rgb(195, 190, 190);
}

.form-container {
    width: 50vw;
    margin: 10px;
    background-color: #6e85b3;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form-container p {
    margin: 10px;
    font-family: 'Segoe UI';
    color: white;
}

.table-container {
    margin: 10px 10px 10px 10px;
}

.submit-button {
    width: 180px;
    background-color: #83a3e8;
    padding: 2px 5px 2px 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI';
    text-decoration: none;
    color: white;
}

.submit-button:hover {
    background-color: #7696dc;
}

.input-box {
    width: 200px;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.select-option * {
    width: 200px;
    height: 20px;
    border-radius: 5px;
}

.message {
    font-family: 'Segoe UI';
    color: white;
}

.table {
    border-spacing: 0;
	width: 100%;
	border: none;
	margin-bottom: 20px;
    font-family: 'Segoe UI';
    margin-top: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #678fe5;
	font-size: 14px;
    color: white;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
    color: rgb(44, 44, 44);
}
.table tbody tr:nth-child(even){
	background: #94abda;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}