<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
<a href="/user/all">Список пользователей</a>
<div>
    <p>Добро пожаловать, <span th:text="${username}">...</span>!</p>
    <a href="/user/edit">Редактировать профиль</a>
</div>
<div>
    <a href="/history">История</a>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>