<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/style/login.css" th:href="@{/style/login.css}" />
</head>

<body>
    <div class="info-modal">
        <div th:if="${message != null}" th:text="${message}">...</div>
    </div>
    <div class="login-modal">
        <form class="login-form" th:action="@{/registration}" method="post">
            <div><label for="login">Логин:</label></div>
            <div><input class="input-box" type="text" id="login" name="login" required autocomplete="off"/></div>
            <div><label for="password">Пароль:</label></div>
            <div><input class="input-box" type="password" id="password" name="password" required autocomplete="off"/></div>
            <div><label for="user_surname">Фамилия:</label></div>
            <div><input class="input-box" type="text" id="user_surname" name="user_surname" required autocomplete="off"/></div>
            <div><label for="user_name">Имя:</label></div>
            <div><input class="input-box" type="text" id="user_name" name="user_name" required autocomplete="off"/></div>
            <div>
                <button class="button-login" type="submit">
                    Зарегистрироваться
                </button>
            </div>
            <div><a style="font-size:0.8em;" href="/login">Войти</a></div>
        </form>
    </div>
</body>

</html>