<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить кредит</title>
    <link rel="stylesheet" href="../../static/style/ui.css" th:href="@{/style/ui.css}" />
</head>

<body>
    <div class="header">
        <div class="item-container">
            <h2>Финансовый калькулятор</h2>
            <h3>Добавление кредита</h3>
        </div>
        <form th:action="@{/loans}" method="get">
            <input class="back-button" type="submit" value="Назад" />
        </form>
    </div>

    <form action="#" th:action="@{/loans/add}" th:object="${loan}" method="post">
        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <p>Сумма: <br>
            <input type="number" step="0.01" min=0.01 th:field="*{loanAmount}" th:errorclass="fieldError" />
        </p>
        <p>Описание: <br>
            <input type="text" th:field="*{description}" />
        </p>
        <p>Годовая ставка, %: <br>
            <input type="number" step="0.01" min=1.0 max=100.0 th:field="*{interestRate}" th:errorclass="fieldError">
        </p>
        <p>Аннуитетный платеж?
            <input type="checkbox" th:field="*{annuity}" />
        </p>
        <p>Дата открытия кредита: <br>
            <input type="date" required th:field="*{dateBegin}" th:errorclass="fieldError">
        </p>
        <p>Уже выплачено: <br>
            <input type="number" step="0.01" min=0.0 th:field="*{balance}" th:errorclass="fieldError">
        </p>
        <p>Ожидаемая дата закрытия кредита: <br>
            <input type="date" required th:field="*{dateEnd}" th:errorclass="fieldError">
        </p>
        <p>Дата последней выплаты: <br>
            <input type="datetime-local" th:field="*{dateLastPay}" th:errorclass="fieldError">
        </p>
        <p>
            <input type="submit" value="Сохранить">
        </p>
    </form>
</body>

</html>