<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить вклад</title>
</head>
<body>
<form action="#" th:action="@{/deposits}" method="get">
    <button>Назад</button>
</form>

<h3>Добавление вклада</h3>
<form action="#" th:action="@{/deposits/add}" th:object="${deposit}" method="post">
    <fieldset>
        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <p>Описание: <br>
            <input type="text" th:field="*{description}"/>
        </p>
        <p>Изначальная сумма вклада: <br>
            <input type="number" step="0.01" required min=0.01 th:field="*{depositAmount}" th:errorclass="fieldError"/>
        </p>
        <p>Годовая ставка, %: <br>
            <input type="number" step="0.01" required min=1.0 max=100.0 th:field="*{interestRate}" th:errorclass="fieldError">
        </p>
        <p>Дата открытия вклада: <br>
            <input type="date" required th:field="*{dateBegin}" th:errorclass="fieldError">
        </p>
        <p>Проценты со вклада: <br>
            <input type="number" step="0.01" min=0.0 th:field="*{revenue}" th:errorclass="fieldError">
        </p>
        <p>Неснижаемый остаток: <br>
            <input type="number" required step="0.01" min=0.01 th:field="*{minBalance}" th:errorclass="fieldError">
        </p>
        <p>
            <input type="submit" value="Сохранить">
        </p>
    </fieldset>
</form>
</body>
</html>