<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить запись</title>
    <link rel="stylesheet" href="../../static/style/ui.css" th:href="@{/style/ui.css}" />
    <script src="..static/js/addRecord.js" th:src="@{/js/addRecord.js}"></script>
</head>

<body>
    <div class="header">
        <div class="item-container">
            <h2>Финансовый калькулятор</h2>
            <h3>Добавление записи</h3>
        </div>
        <form th:action="@{/history}" method="get">
            <input class="back-button" type="submit" value="Назад" />
        </form>
    </div>

    <form class="form-container" autocomplete="off" action="#" th:action="@{/history/add}" th:object="${record}"
        method="post">
        <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            <li class="message" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>

        <ul th:if="${message != null}">
            <li class="message" th:text="${message}">message</li>
        </ul>

        <p>Сумма: <br>
            <input class="input-box" type="number" step="0.01" th:field="*{amount}" th:errorclass="fieldError">
        </p>
        <p>Описание: <br>
            <input class="input-box" type="text" th:field="*{description}">
        </p>
        <p>Тип записи: <br>
            <select class="input-box" th:field="*{recordType}" id="recordType">
                <option class="select-option" th:each="type : ${allTypes}" th:value="${type}" th:text="#{${'record.type.' + type}}">...
                </option>
            </select>
        </p>
        <div hidden id="categorySelector">
            <p>Категория: <br>
                <select class="input-box" style="width:fit-content;" th:field="*{category}">
                    <option class="select-option" th:value="null">-- Не выбрано --</option>
                    <option class="select-option" th:each="type : ${categories}" th:value="${type.getId()}"
                        th:text="${type.getDescription()}">...
                    </option>
                </select>
            </p>
        </div>
        <div hidden id="loanSelector">
            <p>Кредит: <br>
                <select class="input-box" style="width:fit-content;" th:field="*{loan}">
                    <option class="select-option" th:value="null">-- Не выбрано --</option>
                    <option class="select-option" th:each="type : ${loans}" th:value="${type.getId()}" th:text="${type.getLoanInfo()}">...
                    </option>
                </select>
            </p>
        </div>
        <div hidden id="goalSelector">
            <p>Цель: <br>
                <select class="input-box" style="width:fit-content;" th:field="*{goal}">
                    <option class="select-option" th:value="null">-- Не выбрано --</option>
                    <option class="select-option" th:each="type : ${goals}" th:value="${type.getId()}" th:text="${type.getGoalInfo()}">...
                    </option>
                </select>
            </p>
        </div>
        <div hidden id="depositSelector">
            <p>Снять с вклада: <br>
                <select class="input-box" style="width:fit-content;" th:field="*{deposit}">
                    <option class="select-option" th:value="null">-- Не выбрано --</option>
                    <option class="select-option" th:each="type : ${deposits}" th:value="${type.getId()}" th:text="${type.getDepositInfo()}">
                        ...
                    </option>
                </select>
            </p>
        </div>
        <p>Дата записи: <br>
            <input class="input-box" type="datetime-local" required th:field="*{recordDate}" th:errorclass="fieldError">
        </p>
        <p>
            <input style="width:200px;" class="submit-button" type="submit" value="Сохранить">
        </p>
    </form>
</body>

</html>