<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История</title>
</head>
<body>
<form action="#" th:action="@{/home}" method="get">
    <button>Назад</button>
</form>

<h3>История</h3>
<p th:if="${records.isEmpty()}">Нет истории</p>
<table th:unless="${records.isEmpty()}">
    <thead>
    <tr>
        <th>Сумма</th>
        <th>Описание</th>
        <th>Тип</th>
        <th>Информация</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rec: ${records}">
        <td th:utext="${{rec.getAmount()}}">...</td>
        <td th:utext="${{rec.getDescription()}}">...</td>
        <td th:utext="#{${'record.type.' + rec.getRecordType()}}">...</td>
        <td th:utext="${rec.getRecordTypeInfo()}">...</td>
        <td th:utext="${{rec.getRecordDate()}}">...</td>
    </tr>
    </tbody>
</table>
<a href="/history/add">Добавить запись</a>
</body>
</html>